### Emacs created
*~
\#*\#
elpa/
auto-save-list/
network-security.data
emojis
url
/eshell

## personal (host-specific) save data
meta/

## undo-tree
*~undo-tree~*

### Tangled output
init.el
/tramp
/org-clock-save.el
/recentf
