### Emacs created
*~
\#*\#
elpa/
elpa-*/
auto-save-list/
network-security.data
emojis
url
/eshell
/session.*

## personal (host-specific) save data
meta/

## undo-tree
*~undo-tree~*

### Tangled output
init.el
/tramp
/org-clock-save.el
/recentf
/quelpa
/srecode-map.el
/irony
/semanticdb
